<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapi Clone App</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Rapi Clone App</h1>
    </header>

    <nav>
        <!-- Your navigation menu goes here -->
        <ul>
            <li><a href="#">Tipo de Comida</a></li>
            <li><a href="#">Restaurante</a></li>
            <li><a href="#"></a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <main>
        <h2>Proposito de la pagina</h2>
        <p>Esto es una pagina meme</p>
    </main>

    <footer>
        <p>&copy; 2023 Your Company</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>