<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapi Clone App</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <img src="imagen/4868.png" alt="Monoculo con bigote" width="150" height="100" title="Scenic View">
        <h1>Restaurantes</h1>
    </header>

    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="comida.html">Tipo de Comida</a></li>
            <li><a href="user.html">Usuraio</a></li>
            <li><a href="login_page.html">loging</a></li>
        </ul> 
    </nav>

    <main>
        <h2>Lista de restaurantes</h2>
        <p>nombre de los restaurantes</p>
    </main>

    <footer>
        <p>&copy; hola mundo</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>