<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="templates/user.css">
</head>
<nav>
    <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="comida.html">Tipo de Comida</a></li>
        <li><a href="retaurantes.html">Restaurantes</a></li>
        <li><a href="#">logout</a></li>
    </ul> 
</nav>
<body>
    <div class="user-card">
        <img src="user-avatar.jpg" alt="User Avatar" class="user-avatar">
        <h2 class="user-name">user name*</h2>
        <p class="user-email">e-mail*</p>
        <p class="user-bio">user bio*</p>
    </div>
</body>
</html>
